<form class="formwidth" (ngSubmit)="onSubmit()" #myForm=ngForm>


  <table class="fullwidth" cellspacing="0">
    <tr>
      <td>

        <mat-form-field inpt class="fullwidth">
          <input type="text" matInput placeholder="first name" id="firstname" [(ngModel)]="address.firstname" name="firstname">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field inpt class="fullwidth">
          <input type="text" matInput placeholder="last name" id="lastname" [(ngModel)]="address.lastname" name="lastname">
        </mat-form-field>
      </td>
    </tr>
  </table>

  <p>
    <mat-form-field inpt class="fullwidth">
      <textarea matInput placeholder="Address" id="address" [(ngModel)]="address.address" name="address"></textarea>
    </mat-form-field>
  </p>


  <table class="fullwidth" cellspacing="0">
    <tr>
      <td>

        <mat-form-field inpt class="fullwidth">
          <input type="text" matInput placeholder="City" id="city" [(ngModel)]="address.city" name="city">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field inpt class="fullwidth">
          <input type="text" matInput placeholder="state" id="state" [(ngModel)]="address.state" name="state">
        </mat-form-field>
      </td>
      <td>
          <mat-form-field inpt class="fullwidth">
            <input type="text" matInput  maxlength="5"  #postalcode placeholder="postalcode" id="state" [(ngModel)]="address.postalcode" name="postalcode">
          <mat-hint align="end">
            {{postalcode.value.length}}  / 5
          </mat-hint>
          </mat-form-field>
        </td>
    </tr>
  </table>

  <p>
    <button type="submit" mat-raised-button  >submit</button>
  </p>

</form>