<mat-card>

  <mat-card-header>
    <mat-card-title>
      <h1>
        Dialog Demo
      </h1>
    </mat-card-title>
  </mat-card-header>

  <hr>
  <mat-card-content>
    <button mat-raised-button (click)="openDialog()">open Dialog</button>
  <hr>
    <strong>Result: {{dialogResult}}</strong>
  </mat-card-content>

</mat-card>


<!--
  <p>
      <ul>
        <li *ngFor="file of files">
          {{file.name}}
        </li>
      </ul>
      <button (click)="openAddFileDialog()">Add file</button>
    </p>
  -->


